#primary-body(primary-body='')
  primary-grid.primary-grid(position='left')
    include ./../main/primary-left-grid.tmp.jade
  resize-bar(position='vertical')
  primary-grid.primary-grid(position='right', resize='true')
    include ./two-grid-right.jade
