{
  "extends": "eslint:recommended",
  "plugins": [],
  "env": {
    "es6": true,
    "browser": true,
    "jasmine": true
  },
  "ecmaFeatures": {
    "modules": true
  },
  "globals": {
    "window": false,
    "navigator": false,
    "escape": false,
    "unescape": false,
    "location": false,
    "tkgConst": false,
    "tkgFilter": false,
    "tkgHelper": false,
    "angular": false,
    "inject": false,
    "module": false,
    "$": false,
    "_": false,
    "console": false,
    "moment": false,
    "Highcharts": false,
    "angularFilters": false,
    "injector": false,
    "auth": false
  },
  "rules": {
    "comma-dangle": 0,
    "no-unused-vars": 0,
    "no-console": 0,
    "no-empty": 0
  }
}
