.tkg-pagination {
  font-size: 12px;
  margin-left: 10px;
  margin-right: 10px;



  .glyphicon, .fa {
    margin: 0;
    font-size: 12px;
  }
}

.pag-start {
   .tkg-pagination {
    margin-left: 0;
  }
}
