i.fa(ng-if="usePlus" ng-class="{'fa-plus': !singleGridChildren.maximized, 'fa-minus': singleGridChildren.maximized}")
i.fa(ng-if="!usePlus" ng-class="{'fa-chevron-up': !singleGridChildren.maximized, 'fa-chevron-down': singleGridChildren.maximized}")
