i.fa(ng-if="::usePlus" ng-class="{'fa-plus': !currentVGridChild.tmpl.maximized, 'fa-minus': currentVGridChild.tmpl.maximized}")
i.fa(ng-if="::!usePlus" ng-class="{'fa-chevron-up': !currentVGridChild.tmpl.maximized, 'fa-chevron-down': currentVGridChild.tmpl.maximized}")
