#primary-body(primary-body='')
  primary-grid.primary-grid(position='left')
    include ./primary-left-grid.tmp.jade
  resize-bar(position='vertical')
  primary-grid.primary-grid(position='right', resize='true')
    include ./primary-right-grid.tmp.jade
