.secondary-body.primary-grid-child.primary-right(secondary-body='')
  secondary-grid.secondary-grid(position='top', height='50%', resize='true')
    include ./secondary-top-grid.tmp.jade
  resize-bar(position='horizontal')
  secondary-grid.secondary-grid(position='bottom', height='50%')
    include ./secondary-bottom-grid.tmp.jade
