.secondary-grid-child.secondary-top(ng-if='gridTemplate.secondaryTopGrid', tkg-template-url='gridTemplate.secondaryTopGrid')
.secondary-grid-child.secondary-top(ng-if='gridTemplate.topRight', tkg-template-url='gridTemplate.topRight')
