div#login
  tkg-header(header="header")
    div(tkg-template-url="pwCtrl.headerUrl")
  #primary-body
    .panel.panel-default
      .panel-heading
        .panel-title
          | Change Password
      .panel-body
        form(name='loginForm' novalidate autocomplete="off")
          .form-group
            label.sr-only(for='currentPassword') Current Password
            input#currentPassword.form-control(type='password' name='password' ng-model='pwCtrl.oldPw' placeholder='Current Password' required)
          .form-group
            small.help-block *Mininum of 8 characters with at least 1 uppercase and 1 lowercase alphabetic character and 1 special symbol (! ` # $ & % ^ , .)
            label.sr-only(for='newPassword') New Password
            input#newPassword.form-control(type='password' name='password' ng-model='pwCtrl.newPw' placeholder='New Password' required)
          .form-group
            label.sr-only(for='confirmPassword') Confirm Password
            input#confirmPassword.form-control(type='password' name='password' ng-model='pwCtrl.confirmedPw' placeholder='Confirm Password' required)
          button.btn.btn-block.btn-default(type='submit' ng-click="pwCtrl.changePw()") Change
    div.alert-wrapper
      div
        .has-success.alert.alert-info(ng-show='pwCtrl.updating')
          | Updating password, please wait
          span.loading
            span.one
            span.two
            span.three
      div
        .has-success.alert.alert-success(ng-show='pwCtrl.success')
          | Password succesfully changed. Reloading
          span.loading
            span.one
            span.two
            span.three
      div
        .has-error.alert.alert-danger(ng-show='pwCtrl.error')
          | Update failed, please check the password you entered
      div
        .has-error.alert.alert-danger(ng-show='pwCtrl.errorMsg')
          | {{pwCtrl.errorMsg}}

